{% extends 'layouts/base.html' %}

{% block title %} Finance {% endblock title %}

{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
          <div class="header-body">
            <!-- Card stats -->
            <h1>Finance</h1>
          </div>
        </div>
    <!--- footer-->
    {% include "includes/footer.html" %}
</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}